@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");



.row {
    position: relative;
}

.row h2 {
    color: #fff;
    font-size: 4em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.row h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #2ec4b6;
}

.row h2:nth-child(2) {
    color: #2ec4b6;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}